
body {
    margin: 0;
    font-family: 'kindergarten';
    background-image: url('driving.png');
    background-size: cover;
    width: 100%;
    height: auto;


}

/* NAVBAR */
.NavbarContent {
    display: flex;
    flex-direction: row;
    ;
}

.navbar {
    display: inline block;
    overflow: hidden;
    margin: 20px;
    background-color: rgba(255, 255, 255, 0.373);
    border-radius: 15px;
    position: fixed;
    top: 0;
    z-index: 1000;
}

.navbar a {
    float: left;
    display: block;
    color: rgb(226, 64, 177);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

/* Style the button to remove default button appearance */
.image-button {

    top: 0;
    left: 0;
    background: none;
    border: none;
    padding: 0;
    cursor: pointer;
}

/* Basic styling for the image inside the button */
.image-button img {
    width: 100px;
    height: auto;
    cursor: pointer;
}

/* The popover has basic built-in styling, but you can customize it */
#LeavingLouisianaRoadSign {
    position: flex;
    flex-direction: row;
    background-color: rgb(105, 41, 86);
    border-color: rgb(116, 34, 100);
    border-radius: 15px;
    /* Add more styles like max-width, box-shadow, etc. */
}

.closebutton {
    position: absolute;
    font-family: 'kindergarten';
    top: 10px;
    right: 10px;
    background: none;
    font-size: 20px;
    cursor: pointer;
    color: #de9133;
}

.navigationlinks {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 5px;
}

.OpeningStatement {
    position: flex;
    color: #ffa734;
    border: none;
    max-width: 300px;
    background-color: rgba(229, 85, 186, 0.445);
    padding: 5px;
    border-radius: 15px;
    margin: 0 auto;
    text-align: center;
}

.closebutton {
    color: rgb(255, 222, 56);
    position: absolute;
    top: 5px;
    right: 5px;
    background-color: rgba(255, 176, 49, 0.742);
    border-radius: 7px;
    border: none;
    font-size: 20px;
    cursor: pointer;
}

/* END OF NAV */

.dialogue {
    margin: 100px;
    display: inline-block;
    padding: 20px 10px 20px 10px;
    font-family: 'kindergarten';
    color: black;
    background-color: aliceblue;
    border-radius: 15px;
    font-size: 15px;
    width: 200px;
    align-content: center;
    text-align: center;

}

.nextpage {
    display: flex;
    justify-content: center;
    margin: 300px 0px 100px 200px;
}

.continuebox {
    width: 100px;
    height: auto;
}