body {
    margin: 0;
    font-family: 'kindergarten';
    background-image: url('yearbookbackground.svg');
    background-size: cover;
    background-position: center;
}

/* Fonts */

@font-face {
    font-family: 'highway_gothic.normal';
    src: url('Fonts/HWYGOTH.TTF') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'highway_gothic.wide';
    src: url('Fonts/HWYGEXPD.TTF') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'highway_gothic.wider';
    src: url('Fonts/HWYGEXPD.TTF') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'highway_gothic.skinny';
    src: url('Fonts/HWYGNRRW.TTF') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'highway_gothic.skinnier';
    src: url('Fonts/HWYGWDE.TTF') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'kindergarten';
    src: url('Fonts/kindergarten.ttf') format('woff');
    font-weight: normal;
    font-style: normal;
}





/* NAVBAR */
.NavbarContent {
    display: flex;
    flex-direction: row;
    ;
}

.navbar {
    display: inline block;
    overflow: hidden;
    margin: 20px;
    background-color: rgba(255, 255, 255, 0.373);
    border-radius: 15px;
    position: fixed;
    top: 0;
    z-index: 1000;
}

.navbar a {
    float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

/* Style the button to remove default button appearance */
.image-button {

    top: 0;
    left: 0;
    background: none;
    border: none;
    padding: 0;
    cursor: pointer;
}

/* Basic styling for the image inside the button */
.image-button img {
    width: 200px;
    height: auto;
    cursor: pointer;
}

/* The popover has basic built-in styling, but you can customize it */
#LeavingLouisianaRoadSign {
    position: flex;
    flex-direction: row;
    padding: 100px 100px 100px 100px;
    background-color: rgb(186, 223, 232);
    border: none;
    border-radius: 15px;
    /* Add more styles like max-width, box-shadow, etc. */
}

.closebutton {
    position: absolute;
    top: 10px;
    right: 10px;
    background: none;
    border: none;
    font-size: 20px;
    cursor: pointer;
    color: white;
}

.navigationlinks {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 5px;
}

.OpeningStatement {
    position: flex;
    color: rgba(88, 148, 237, 0.557);
    border-width: 2px;
    max-width: 400px;
    border-color: rgba(88, 148, 237, 0.557);
    border-style: solid;
    border-radius: 15px;
    padding: 5px;
    margin: 0 auto;
    text-align: center;
}

.closebutton {
    position: absolute;
    top: 10px;
    right: 10px;
    background: none;
    border: none;
    font-size: 20px;
    cursor: pointer;
}

/* END OF NAV */




.LeavingLouisiana_Yearbook_Intro {
    display:flexbox;
}

.Yearbook_Intro {
    color: rgba(88, 148, 237, 0.557);
    border-width: 2px;
    max-width: 350px;
    border-color: rgba(88, 148, 237, 0.557);
    border-style: solid;
    border-radius: 15px;
    margin: 100px 20px 300px 100px;
    padding: 10px 15px;
    text-align: left;
}

.yi {
    padding: 5px;
    margin: 0 auto;
}



/* Yearbook Opening */

.animatedbooks {
    /* Animation name, duration, timing, and repeat */
    animation: bounce 2s infinite ease-in-out;
    display: block;
    margin: 0 auto;
}

@keyframes bounce {

    0%,
    100% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(-20px);
        /* Adjust this for bounce height */
    }
}

.yearbookcover {
    display: flex;
    justify-content: center;
}
.sketchbookclickable {
    display: flex;
    justify-content: center;
    width: 400px;
    height: auto;
    cursor: pointer;
}
.diplomaclickable {
        display: flex;
        justify-content: center;
        width: 500px;
        height: auto;
        cursor: pointer;
        padding: 0px 0px 0px 50px;
    }
.paperballclickable {
    display: flex;
    justify-content: center;
    width: 500px;
    height: auto;
    cursor: pointer;
    padding: 0px 0px 0px 50px;
}

.overlay {
    visibility: hidden;
    opacity: 0;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10;
    transition: opacity 0.3s;
}
.overlay2 {
    visibility: hidden;
    opacity: 0;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10;
    transition: opacity 0.3s;
}
.overlay3 {
    visibility: hidden;
    opacity: 0;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10;
    transition: opacity 0.3s;
}

.overlay:target {
    visibility: visible;
    opacity: 1;
}

.overlay img {
    max-width: 90%;
    max-height: 90%;
    position: relative;
}

.close-button {
    position: absolute;
    top: 20px;
    right: 30px;
    font-size: 40px;
    color: white;
    text-decoration: none;
    z-index: 11;
}

.overlay2:target {
    visibility: visible;
    opacity: 1;
}

.overlay2 img {
    max-width: 90%;
    max-height: 90%;
    position: relative;
}

.close-button2 {
    position: absolute;
    top: 20px;
    right: 30px;
    font-size: 40px;
    color: white;
    text-decoration: none;
    z-index: 11;
}
.overlay3:target {
    visibility: visible;
    opacity: 1;
}

.overlay3 img {
    max-width: 90%;
    max-height: 90%;
    position: relative;
}

.close-button3 {
    position: absolute;
    top: 20px;
    right: 30px;
    font-size: 40px;
    color: white;
    text-decoration: none;
    z-index: 11;
}
/* end of yearbook opening */

/*Flexbox for grid items*/

/*first grid container */
.first-grid-container {
    color: red;
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: center;
}

/*section one container w content*/
.section1 {
    color: orange;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.polaroidfriend {
    justify-content: left;
    width: 400px;
    height: auto;
}
.compositionnotebook {
    justify-content: right;
    width: 250px;
    height: auto;
}

/*section two container w content*/
.section2 {
    color: orange;
    display: flex;
    flex-direction: row;
    width: 20%;
    justify-content: center;
}
.bathroomstall {
    justify-content: center;
    width: 350px;
    height: auto;
}


/*section three container w content*/
.section3 {
    color: orange;
    display: flex;
    flex-direction: row;
    width: 40%;
    justify-content: center;
}
.schoolgirluniformshirt {
    justify-content: center;
    width: 200px;
    height: auto;
}
.schoolgirlskirt {
    justify-content: center;
    width: 200px;
    height: auto;
    padding: 50px 0px 0px 0px;
}

/*second grid container */
.second-grid-container {
    color: red;
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: center;
}
.section4 {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: center;
}
.pencilsharpener {
    justify-content: center;
    width: 400px;
    height: auto;
}
.makeuppallet {
    justify-content: center;
    width: 300px;
    height: auto;
}
.stickers {
    justify-content: center;
    width: 300px;
    height: auto;
}

/*third grid container */
.third-grid-container {
    color: red;
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: center;
}
.section5 {
    color: orange;
    display: flex;
    flex-direction: row;
    width: 40%;
    justify-content: center;
}
.cross {
    justify-content: center;
    margin: 100px 0px 0px 0px;
    width: 200px;
    height: auto;
}
.rosary {
    justify-content: center;
    width: 300px;
    height: auto;
    padding: 200px 0px 0px 0px;
}

.section6 {
    color: orange;
        display: flex;
        justify-content: center;
}
.section7 {
    color: orange;
    display: flex;
    flex-direction: column;
    width: 20%;
    justify-content: center;
}
.hoodie {
    justify-content: center;
    width: 400px;
    height: auto;
    padding: 0px 50px 0px 0px;
}

/*fourth grid container */
.fourth-grid-container {
    color: red;
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: center;
}

.section8 {
    color: orange;
    display: flex;
    flex-direction: row;
    width: 40%;
    justify-content: center;
}
.eraser {
    justify-content: center;
    width: 450px;
    height: auto;
}
.shoe1 {
    justify-content: center;
    width: 200px;
    height: auto;
}
.shoe2 {
    justify-content: center;
    width: 100px;
    height: auto;
}
.gradcap {
    justify-content: center;
    width: 300px;
    height: auto;
    padding: 0px 0px 100px 0px;
}
.section9 {
    color: orange;
    display: flex;
    flex-direction: row;
    width: 40%;
    justify-content: center;
    }


/*fifth grid container */
.fifth-grid-container {
    color: red;
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: center;
}
.section10 {
    color: orange;
    display: flex;
}
.joint { 
    justify-content: center;
    width: 300px;
    height: auto;
}
.booksack {
    justify-content: center;
    width: 300px;
    height: auto;
}
.section11 {
    color: orange;
    display: flex;
    flex-direction: column;
    width: 20%;
    justify-content: center;
}
.section12 {
    color: orange;
    display: flex;
    flex-direction: column;
    width: 20%;
    justify-content: center;
}
.lighter {
    justify-content: center;
    width: 600px;
    height: auto;
}
.brokenbottle {
    justify-content: center;
    width: 400px;
    height: auto;
}
.scissor {
    justify-content: center;
    width: 200px;
    height: auto;
}
.section13{
    color: orange;
    display: flex;
    flex-direction: column;
    width: 20%;
    justify-content: center;
}
.section14 {
    color: orange;
    display: flex;
    flex-direction: column;
    width: 40%;
    height: 100%;
    justify-content: center;
}
.wrapper {
    justify-content: center;
    width: 300px;
    height: auto;
}
/*end of sections and grid containers*/





/*containers and boxes used for distributing content shapes and sizes */
.two-box-column-container {
    color: yellow;
    display: flex;
    flex-direction: column;
    width: 50%;
    justify-content: center;
}
.short-wide-container {
    color: yellow;
    display: flex;
    height: 33%;
    flex-direction: row;
    justify-content: center;
}

.big-box {
    width: 100%;
    justify-content: center;
}
.small-box {
    color: green;
    margin: 10px auto;
    justify-content: center;
    text-align: center;
}
.small-tall-box {
    color: pink;
    display: flex;
    height: 100%;
    justify-content: center;
}
.short-wide-box {
    color: purple;
    display: flex;
    justify-content: center;
}
.dialogue {
    display: inline-block;
    padding: 30px 15px 30px 15px;
    font-family: 'kindergarten';
    color: black;
    background-color: white;
    border-radius: 15px;
    font-size: 20px;
}
/*
.reveal-text {
   opacity: 0;
   transition: opacity 0.5s ease;
}
.container:hover .reveal-text {
   opacity: 1;
}
/*end of boxes and containers for content distribution */



/* Next Page Button */
 .nextpage {
     display: flex;
     flex-direction: column;
     margin: 0 auto;
     width: 200px;
     text-align: center;
 }
 .nextpageshirt {
     justify-content: center;
     width: 200px;
     height: auto;
 }